################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LocalRepo/FileContentIndex/4c6c3bbd-e8f7-4698-9376-8b2ef04d5dce.vsidx
/.vs/LocalRepo/FileContentIndex/d5d5ee8d-b88c-4af5-873e-0ef33c8bf651.vsidx
/.vs/slnx.sqlite
/.vs/LocalRepo/FileContentIndex/74eae8d1-fb39-4e4f-8a85-c73ad3e9ba86.vsidx
/.vs/LocalRepo/FileContentIndex/f56a37fb-1b7b-4942-ad12-9422ceb46e9a.vsidx
/.vs/LocalRepo/FileContentIndex/2dab82db-c596-4ed2-b190-fc91592faf1e.vsidx
/.vs/LocalRepo/FileContentIndex/b6609394-8477-472c-b4e3-a73e43773c80.vsidx
*.vsidx
*.wsuo
